* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 0px;
}

body {
  margin-top: 0px;
}

header {

  padding-top: 10px;
  background-image: url("tagin.jpg");
  background-size: cover;
  background-position: center;
  height: 400px;
  width: auto;
}

.logo {
  width: 250px;
  height: 85%;
  margin: auto;
  text-align: center;
  line-height: 50%;
  position: relative;
}

.logo span.phonenr {
  color: #ef7335;
  position: absolute;
  margin-top: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 1px 0px 3px #ef7335;
}

.navigation {
  /* background-color: black; */


}

.logo img {
  /* background-image: url("head.PNG"); */
  /* background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 1px solid #ef7335;
  box-shadow: 1px 0px 5px #ef7335
}

.container {
  background-color: #fdfaf5;
  width: 100%;
  height: auto;
  margin: auto;
  display: flex;
  justify-content: space-between
}

.item {
  height: 200px;
  width: 200px;
  text-align: center;
  line-height: 200px;
  /* border: 1px solid #BFBFBF; */
  box-shadow: 1px 0px 5px #ef7335;
  border-radius: 5px;

}

img {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

hr {
  box-shadow: 0 0 2 0;
  background-color: darkgrey;
}

ul {
  position: fixed;
  list-style: none;
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
  /* color: aliceblue; */


}

li {
  width: 200px;
  text-align: center;
  display: inline-block;
  font-size: x-large;
  font-weight: 400;
  background-color: #fcf8f5;
  color: #142958;
  border-left: 1px solid #142958;
  border-bottom: 1px solid #142958;
  padding: 5px 0 5px 0;
  border-radius: 5px;
  box-shadow: 5px 0px 5px #ef7335;
}